[submodule "frontend-repo"]
	path = frontend-repo
	url = https://github.com/Artur-Duarte17/Caderneta.git
[submodule "backend-repo"]
	path = backend-repo
	url = https://github.com/EduardoBR2003/api-caderneta.git
